.detail-section{
    .detail-content{
        display: flex;
        justify-content: center;
        align-items: center;
        .content-image{

        }
        .content-description{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .content-title{

            }
            .content-category{

            }
            .content-price{

            }
            .basket-btn{
                button{
                    
                }
            }
        }
    }
}